Source: scone-wrapper
Section: devel
Priority: optional
Maintainer: María José Santofimia Romero <MariaJose.Santofimia@uclm.es>
Uploaders: David Villa Alises <David.Villa@gmail.com>,
	   Oscar Aceña Herrera <oscaracena@gmail.com>
Build-Depends: debhelper (>= 9.0.0), python3, quilt
Standards-Version: 3.9.8
Homepage: https://bitbucket.org/arco_group/scone.wrapper

Package: scone-wrapper
Architecture: all
Depends: ${misc:Depends},
	 scone-server (>= 0.20161115),
	 python3-zeroc-ice (>= 3.6),
	 dharma (>= 0.20161114),
	 python3-scone-client (>= 0.20161115),
	 python3-commodity (>= 0.20161112)
Description: scone-server Ice wrapper
 Ice service wrapper for the scone-server
